.title {
  margin-top: 150px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
}

.form-group {
  margin: 5px;
}

.form-group > input {
  padding: 10px;
  width: 400px;
  color: var(--blue);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
