@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: sans-serif;
}

:root {
  --red: #e63946;
  --light-red: #e44f5b;
  --blue: #1d3557;
  --light-blue: rgba(29, 53, 87, 0.3);
  --white: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.7px;
  color: var(--blue);
}

.App {
  text-align: center;
  color: var(--blue);
}

h2 {
  font-size: 45px;
  font-weight: lighter;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-weight: lighter;
  font-size: 18px;
}

.btn {
  font-size: 20px;
  color: var(--white);
  background-color: var(--red);
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration-line: none;
  width: 100px;
  align-self: center;
  padding: 10px;
  border-radius: 3px;
}

.btn:hover {
  background-color: var(--light-red);
}

.btn-blue {
  color: var(--blue);
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
}

.btn-blue:hover {
  color: var(--red);
}

.color-success {
  color: teal;
}

.color-danger {
  color: tomato;
}

.content::-webkit-scrollbar,
.cart-body::-webkit-scrollbar {
  width: 12px;
}

.content::-webkit-scrollbar-track,
.cart-body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
.content::-webkit-scrollbar-thumb,
.cart-body::-webkit-scrollbar-thumb {
  background-color: var(--blue); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--white); /* creates padding around scroll thumb */
  padding-top: 5px;
}
