.modal {
  z-index: 3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 0;
}

.cart {
  width: 100%;
  min-width: 400px;
  min-height: 200px;
  background-color: var(--white);
  box-shadow: 0 2.8px 2.2px rgba(29, 53, 87, 0.034),
    0 6.7px 5.3px rgba(29, 53, 87, 0.048), 0 12.5px 10px rgba(29, 53, 87, 0.06),
    0 22.3px 17.9px rgba(29, 53, 87, 0.072),
    0 41.8px 33.4px rgba(145, 153, 165, 0.086),
    0 100px 80px rgba(29, 53, 87, 0.12);
  border-radius: 3px;
}

.cart-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: var(--blue);
  color: var(--white);
  padding: 5px;
  align-items: center;
  border-radius: 3px 3px 0 0;
}

.cart-head > h3 {
  margin: 0;
  width: 95%;
}

.cart-head > button {
  width: 5%;
  cursor: pointer;
  background-color: transparent;
  font-weight: bolder;
  border: 0;
  font-size: 20px;
  color: var(--white);
  transition: color 0.3s;
}

.cart-head > button:hover {
  color: var(--red);
}

.cart-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 50vh;
}

.cart-body > hr {
  color: var(--blue);
  width: 100%;
}

.cart-card {
  display: flex;
  flex-direction: row;
}

.in-card {
  width: 50%;
  height: 150px;
  margin: 10px;
}

.in-card > img {
  width: 50px;
}

.in-card > button {
  color: var(--red);
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.in-card > button:hover {
  color: var(--light-red);
}
