.dashboard {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: 150px auto 50px auto;
  padding: 10px;
}

.content {
  max-height: 250px;
  overflow: auto;
  text-align: start;
}

.super-container {
  width: 100%;
}

.btn-large {
  width: 300px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list > li {
  margin: 10px;
  text-align: start;
}

.btn-icon {
  background-color: transparent;
  color: var(--red);
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.btn-icon:hover {
  color: var(--light-red);
}

@media screen and (max-width: 600px) {
  .limit {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
