nav {
  width: 100vw;
  position: fixed;
  top: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 20px;
  height: 80px;
  background-color: var(--white);
}

.menu-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
}

.mini-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  align-items: center;
  background-color: var(--blue);
  width: 100vw;
}

.logo {
  font-size: 75px;
  margin: 0;
  color: var(--red);
  font-family: "Bebas Neue", cursive;
  display: flex;
  align-items: center;
}

.log {
  margin: 0 20px;
  text-decoration: none;
  padding: 5px;
  color: white;
  font-weight: bolder;
  letter-spacing: 1.7px;
  font-size: 14px;
}

.menu-a {
  margin: 0 20px;
  text-decoration: none;
  padding: 5px;
  color: var(--blue);
  font-weight: lighter;
  letter-spacing: 1.7px;
}

.log:hover {
  color: var(--red);
}

.title-a {
  text-decoration-line: none;
  cursor: pointer;
}

.dot {
  color: var(--white);
  font-size: 5px;
}

.dot-li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-dot {
  font-size: 20px;
  margin: 2px;
}
